Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is stored in a computer system. 
Databases are used to store, manage, and retrieve data.# They are used in many applications, including websites, mobile apps, and enterprise systems.
Databases can be classified into two main types: SQL and NoSQL databases.
SQL databases are relational databases that use structured query language (SQL) to manage and query data.# They store data in tables, which are organized into rows and columns.
SQL databases are used in many applications, including e-commerce websites, customer relationship management (CRM) systems, and financial systems.
NoSQL databases are non-relational databases that do not use SQL to manage and query data.
They store data in a variety of formats, including key-value pairs, documents, and graphs.
NoSQL databases are used in many applications, including social media platforms, real-time analytics systems, and Internet of Things (IoT) applications.
SQL databases are typically used for applications that require complex queries and transactions, while NoSQL databases are used for applications that require high scalability and flexibility.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# DDL stands for Data Definition Language. It is used to define the structure that holds the data. DDL commands are CREATE, DROP, ALTER, TRUNCATE, COMMENT, RENAME, etc.
# CREATE: It is used to create a new table, view, index, or database.
# DROP: It is used to delete objects from the database.
# ALTER: It is used to alter the structure of the database.
# TRUNCATE: It is used to delete all the rows from the table and free the space containing the table.
# Example:
CREATE TABLE employee (
   employee_id INT PRIMARY KEY,
   employee_name VARCHAR(50),
   employee_salary INT
);
ALTER TABLE employee ADD COLUMN employee_age INT;
TRUNCATE TABLE employee;
DROP TABLE employee;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# DML stands for Data Manipulation Language. It is used to manipulate data in the database. DML commands are INSERT, UPDATE, DELETE, SELECT, etc.
# INSERT: It is used to insert new rows into a table.
# UPDATE: It is used to update existing rows in a table.
# DELETE: It is used to delete rows from a table.
# Example:
INSERT INTO employee (employee_id, employee_name, employee_salary) VALUES (1, 'John Doe', 50000);
UPDATE employee SET employee_salary = 60000 WHERE employee_id = 1;
DELETE FROM employee WHERE employee_id = 1;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
# DQL stands for Data Query Language. It is used to query data from the database. DQL commands are SELECT, etc.
# SELECT: It is used to retrieve data from the database.
# Example:
SELECT * FROM employee;
SELECT employee_name, employee_salary FROM employee WHERE employee_salary > 50000;

#Q5. Explain Primary Key and Foreign Key.
# Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. 
# It enforces the entity integrity of the table and ensures that each row is uniquely identified.
# Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table.

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user = 'abc',
  password ="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists testdb")

#Q7. Give the order of execution of SQL clauses in an SQL query.
# The order of execution of SQL clauses in an SQL query is as follows:
# 1. FROM
# 2. WHERE
# 3. GROUP BY
# 4. HAVING
# 5. SELECT
# 6. ORDER BY
# 7. LIMIT