
Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
#1) creating variables for different data type
#string :

a='Assignment'

#list 

b= [ 1,2,3,"hello","this" , "is","list",4,6+4j]

# float

pi= 3.14

#tuple 
 
c=(1,2,3,5,6,7)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable.

In [2]:
# var1 -- data type is string (str)
# var 2 data type is string(str) because list has placed inside quote
#var3 -- data type is list ( list containes string values)
# var 4 data type is integer(int)

Q3. Explain the use of the following operators using an example:

(i)	/  

(ii)	% 

(iii)	//

(iv)	**

In [3]:
# i) / operator is used to divide the numbers 
a= 10/2 
a

5.0

In [4]:
#ii) % is used to for modulo operation. if we use 2 numbers with this operator will give the reminder as a result

b= 16%3
b

1

In [5]:
#iii) // is floor division operator . This gives Qutoient of 2 numbers 
c= 10//3
c

3

In [6]:
#iv) ** is exponential operatior. if we want to descripe 3 to the power of 2 we can use this symbol 
d= 3**2
d

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type

In [7]:
x= [ 1,3.5,4,"hello",'high',8,6+4j,95,10,'x']

for i in x:
    print(i)
    print('type of this element is', type(i))
    
else:
    print( 'complete')

1
type of this element is <class 'int'>
3.5
type of this element is <class 'float'>
4
type of this element is <class 'int'>
hello
type of this element is <class 'str'>
high
type of this element is <class 'str'>
8
type of this element is <class 'int'>
(6+4j)
type of this element is <class 'complex'>
95
type of this element is <class 'int'>
10
type of this element is <class 'int'>
x
type of this element is <class 'str'>
complete

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [9]:
print("Enter first number")

a =  10
print("Enter second number")
b = 3

#while (b<a):
    if a%b==0:
        print ( " a is divisable by b")
        print(a//b)
        b +=1
        continue 
    else :
        print(" a is not divisable by b")

IndentationError: unexpected indent (1017732229.py, line 8)

not able to write the successful program

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [19]:
x =list(range(1,25))
for i in x:
    if i%3==0:
        print( i ," is printable by 3")
    else:
        i+=1

3  is printable by 3
6  is printable by 3
9  is printable by 3
12  is printable by 3
15  is printable by 3
18  is printable by 3
21  is printable by 3
24  is printable by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

An object that allows to change/modify the members are called mutable. In python sets & lists are mutable objects
for example am declaring x as list with 5 numbers 1 to 5

In [20]:
x=list(range(1,5))
x

[1, 2, 3, 4]

In [21]:
x[3]=6
x

[1, 2, 3, 6]

i can chnage it members by using modification as x[3]= 6. However in immutable objects it is modification is not allowed . Strings& tuples are immutable objects of python 
for example let me declare a tuble & try to modify

In [26]:
x=(1,2,3,4,5)
type(x)

tuple

In [28]:
x(3)==6

TypeError: 'tuple' object is not callable

when we try to modify tuble it gives error