In [4]:
# Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
# Create a Pandas Series with the specified values
series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

x= [1,2,3,4,5,6,7,8,9,10]

y= pd.Series(x)
print(y)
print(type(y))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# Create a Pandas DataFrame that contains the following data:
# Name: Alice, Bob, Charlie; Age: 25, 30, 35; City: New York, Los Angeles, Chicago. Then, print the DataFrame.
import pandas as pd
# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
# Print the DataFrame   
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

In [8]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# A DataFrame in pandas is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure 
# with labeled axes (rows and columns).# It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. 
# DataFrames are generally the most commonly used pandas object.
# A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
# A DataFrame can be thought of as a collection of Series that share the same index.
# In contrast, a Series is a single column of data.
# Example of a DataFrame
import pandas as pd
# Create a DataFrame with two columns: 'Name' and 'Age'
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df = pd.DataFrame(data)
# Print the DataFrame
print("DataFrame:")
print(df)
# Example of a Series
# Create a Series from the 'Age' column of the DataFrame
age_series = df['Age']
# Print the Series
print("\nSeries:")
print(age_series)
# In this example, 'df' is a DataFrame with two columns ('Name' and 'Age'), while 'age_series' is a Series containing only the 'Age' column.

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [10]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
# Some common functions to manipulate data in a Pandas DataFrame include:
# 1. `head()`: Returns the first n rows of the DataFrame.
# 2. `tail()`: Returns the last n rows of the DataFrame.
# 3. `describe()`: Generates descriptive statistics of the DataFrame.
# 4. `info()`: Provides a summary of the DataFrame, including the data types and non-null counts.
# 5. `drop()`: Removes specified rows or columns from the DataFrame.
# 6. `groupby()`: Groups the DataFrame using a particular column or columns.
# 7. `merge()`: Merges two DataFrames based on a common column or index.
# 8. `pivot_table()`: Creates a pivot table from the DataFrame.
# 9. `apply()`: Applies a function along the axis of the DataFrame.
# 10. `fillna()`: Fills missing values in the DataFrame.
# Example of using `groupby()` function
import pandas as pd
# Create a sample DataFrame
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)
# Group the DataFrame by 'Category' and calculate the sum of 'Value'
grouped_df = df.groupby('Category')['Value'].sum().reset_index()
# Print the grouped DataFrame
print(grouped_df)
# In this example, we used the `groupby()` function to group the DataFrame by the 'Category' column and calculate the sum of the 'Value' column for each category.

  Category  Value
0        A     90
1        B     60

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# In pandas, both Series and DataFrame are mutable in nature. This means you can modify their contents after they have been created.
# You can add, remove, or change the values in a Series or DataFrame.
# However, Panel is deprecated and not commonly used in recent versions of pandas.
# It was a three-dimensional data structure, but it is not mutable in the same way as Series and DataFrame.

In [13]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd
# Create two Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
# Create a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series
}
df = pd.DataFrame(data)
# Print the DataFrame
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35